@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.home {
    width: 70px;
    margin-left: 40px;
}

.home:hover {
    transform: scale(1.07);
    transition: 1s;
}

header img {
    margin-top: 0px;
    margin-left: 200px;
    width: 300px;
}

iframe {
    height: 60vh;
    width: 50vw;
    display: block;
    margin: auto;
    margin-top: 70px;
    border-radius: 15px;
}

section {
    display: flex;
    margin-left: 25%;
}

button {
    background-color: rgb(214, 217, 219);
    cursor: pointer;
    padding: 10px;
    margin-top: 40px;
    margin-left: 8%;
    width: 150px;
    border: 1px solid black ;
    color: white;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

/* COMEÇO Eminem - Mockingbird (2005)*/

#texto {
    display: none;
    margin-top: 10px;
}

.text-blue {
    color: black;
    text-align: center;
    margin: auto;
}

.text-green {
    color: lightslategray;
    text-align: center;
    margin: auto;
}

/*FIM Eminem - Mockingbird (2005)*/


/*COMEÇO HERE I GO*/

p {
    color: lightslategray;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 3;
}

.white {
   color: black;
}

#phrases {
    margin-top: 70px;
    text-align: center;
}

/*FIM HERE I GO*/

/*COMEÇO HIT EM UP*/

p {
    color: lightslategray;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 3;
}

.white {
   color: black;
}

#textContainer {
    margin-top: 70px;
    text-align: center;
}

/*FIM HIT EM UP*/