@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    height: 60vh;
    width: 50vw;
    display: block;
    margin: auto;
    border-radius: 15px;
}

#texto {
    display: none; /* Esconde o texto inicialmente */
    margin-top: 10px;
}

button {
    cursor: pointer;
    padding: 10px;
    margin-top: 40px;
    margin-left: 25%;
    background-color: rgb(214, 217, 219);
    border: 1px solid black ;
    color: white;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}