@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    margin-top: 0px;
    margin-left: 430px;
    width: 300px;
}

.left {
    background-color: #cf142b;
    border: 4px solid black;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 30%;
    padding: 40px;
    height: 650px;
    border-radius: 15px;
}

.menu {
    background-color: rgb(214, 217, 219);
    border: 2px solid black ;
    font-family: "Sarala", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
    padding: 14px;
    text-align: center;
    height: 5px;
    border-radius: 15px;
}

.menu:hover {
    transform: scale(1.07);
    transition: 1s;
}

.text-left {
    font-family: "IM Fell French Canon SC", serif;
    font-weight: 540;
    font-size: 29px;
    font-style: normal;
    text-align: center;
    padding-top: 30px;
    text-shadow: 3px 2px 12px rgba(0, 0, 0, 0.651);
    line-height: 1.5;
}

main {
    display: flex;
    gap: 20px;
}

.menu {
    padding-bottom: 40px;
}

.center-title {
    background-color: lightslategray;
    border: 1px solid black;
    position: relative;
    left: -46%;
    margin-left: 90px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 13px black;
    border-radius: 15px;
}

.center-video {
    margin-top: 45px;
    margin-left: -40%;
    height: 500px;
    width: 800px;
    box-shadow: 1px 5px 15px black;
    border-radius: 15px;
}

.text-footer {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.canais {
    background-color: #073bc0;
    border: 4px solid black;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 60%;
    padding: 40px 8px;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
    left: 40%;
    border-radius: 15px;
}

ul {
    text-align: center;
}

a {
    text-decoration: none;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first {
    background-color: rgb(214, 217, 219);
    font-size: 20px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 15px;
}

.first:hover {
    transform: scale(1.07);
    transition: 1s;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}